@model WebGamingSDV.Models.VirtualM

@{
    ViewData["Title"] = "Connect";
}

<h1>Connect</h1>

<h3>Are you sure you want to connect this?</h3>
<div>
    <h4>VirtualM</h4>
    <hr />
    <form asp-action="Connect">
        <input type="hidden" asp-for="name" />
        <input type="submit" value="Connect" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
