@model WebGamingSDV.Models.VirtualM

@{
    ViewData["Title"] = "PowerOn";
}

<h1>PowerOn</h1>

<h3>Are you sure you want to poweron this?</h3>
<div>
    <h4>VirtualM</h4>
    <hr />
    <form asp-action="PowerOn">
        <input type="hidden" asp-for="name" />
        <input type="submit" value="PowerOn" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
